$minWidth: 320;

// maxWidth-максимальная ширина контейнера по макету, так же используется в мексине для Font-Size
$maxWidth: 1000;

$errorColor: #ff0033;
$succesColor: #39d353;
$borderRadius: 7px;
$transition: all 0.2s easy;

$bgColor1: #111111;
$bgColor2: rgb(44, 44, 44);

$mainTxtColor: #c9d1d9;
$minorTxtColor: #f30096;

$titleTxtColor: #f0f6fc;

$mainAccentColor: #ffc800;
$minorAccentColor: rgb(217, 255, 0);

$linkTxtColor: #2d9cdb;
